@import 
    './variables.scss',
    './form.scss',
    './buttons_principal.scss',
    './buttons_secondary.scss',
    './modal.scss',
    './card_user.scss',
    './navbar_aplication/navbar_aplication.scss'
;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style: none;
  text-decoration: none;
}

.button_filter {
    border-radius: 2px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: rgb(14, 79, 199);
    border: 2px solid $color_a;
}