<!DOCTYPE html>
<html lang="en" ng-app='App'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link rel="stylesheet" href="../../styles/css_web.css">
    <script src="./view/js/app/web/app_index.js" type="module"></script>
    <title>Knight Bank</title>
</head>
<body ng-controller="Controler">

    <!-- --------- nav --------- -->
    <nav>
        <img src="../../img/global/logos/logo.gif" alt="">
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn"><i class="fas fa-bars"></i></label>
        <ul>
            <li><a href="../../../index.html">Inicio</a></li>
            <li><a class="active" href="#">Sobre nosotros</a></li>
            <li><a href="./simulador.html">Simulador</a></li>
            <li><a href="./login.html">Login</a></li>
        </ul>
     </nav>

    <!-- --------- contend --------- -->
    <div class="container_information_knight">
        <div class="image_graficos" data-aos="fade-up" ><img src="../../img/web/zornotzalogo.jpg" alt=""></div>
        <div class="text">
            <p data-aos="fade-up">Con un equipo formado únicamente por dos integrantes, Knight Project es un proyecto didáctico diseñado y desarrollado únicamente con propósito educativo, como tal, todas las operaciones realizadas son simulaciones y en ningún momento se utiliza dinero real.

 

              Hablando más en concreto de los desarrolladores, tenemos a dos alumnos de FP Zornotza, siendo estos Gabriel, diseñador y director Frontend y Josu, gestor del servidor y director Backend.</p>
        </div>
    </div>  

    <!-- google map location -->

    <section class="location">
        <div class="location_list">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>

        <div class="map">
            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Malet%20St,%20London%20WC1E%207HU,%20United%20Kingdom+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/sport-gps/">gps watches</a></iframe>
        </div>
    </section>

    <!-- personal people -->
    <div class="container">
        <div class="card_about card_about0">
          <div class="border">
            <h2>Al Pacino</h2>
            <div class="icons">
              <i class="fa fa-codepen" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-dribbble" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="card_about card_about1">
          <div class="border">
            <h2>Ben Stiller</h2>
            <div class="icons">
              <i class="fa fa-codepen" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-dribbble" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="card_about card_about2">
          <div class="border">
            <h2>Patrick Stewart</h2>
            <div class="icons">
              <i class="fa fa-codepen" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-dribbble" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    
    <!-- --------- Footer --------- -->
    <footer class="footer">
      <!--  - -->
       <hr>
       <div class="row">
         
              
           <div class="col">
               
               <p>La información ofrecida en esta página no constituye asesoramiento en materia de inversión, ni asesoramiento bancario. Por no suponer un asesoramiento bancario, la información ofrecida no se basa en un análisis objetivo y amplio de los servicios bancarios disponibles en el mercado, ni considera la situación personal y financiera del usuario, preferencias u objetivos.</p>
               <img src="./view/img/global/logos/logo.gif" alt="">
           </div>

           <div class="col">
               <h3>Contacto <div class="linea"><span></span></div></h3>
               <p>48340 Amorebieta-Etxano, Bizkaia</p>
               <p>Telefono: 943 92 63 89</p>
               <p>+34 645 42 53 65</p>
               <p class="email_id">knightBank_support@gmail.com</p>
           </div>

           <div class="col ">
               <h3>Otros <div class="linea"><span></span></div></h3>
               <ul>
                   <li><a href="index.html">Inicio</a></li>
                   <li><a href="./view/pages/web/about.html">Sobre nosotros</a></li>
                   <li><a href="./view/pages/web/simulador.html">Simulacion de prestamos</a></li>
                   <li><a href="./view/pages/web/login.html">App</a></li>
               </ul>
           </div>

           <div class="col">
               <h3 class="redes">Redes<div class="linea"><span></span></div></h3>
               <div class="social_icons">
                   <i class="fab fa-facebook-f"></i>
                   <i class="fab fa-brands fa-instagram"></i>
                   <i class="fab fa-whatsapp"></i>
                   <i class="fab fa-twitter"></i>
                   <i class="fab fa-brands fa-github"></i>
                   <i class="fab fa-brands fa-linkedin"></i>
               </div>
           </div>

       </div>
       <hr>
   </footer>

    <script>
        AOS.init();
    </script>

</body>
</html>