<!DOCTYPE html>
<html lang="en" ng-app='App' >
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../img/global/logos/logo.gif">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="../../styles/css_web.css" rel="stylesheet" type="text/css" />
    <script src="../../js/app/web/app_login.js" type="module"></script>
    <title>Inicio Sesión</title>
</head>
<body class="fond_form" ng-controller="Controler">

    <form class="form">
        <div class="form_contenedor">
            <h1>Iniciar Sesión</h1>
            <div class="input-container">
                <input id="nif" class="input" type="text" placeholder=" " maxlength="9" />
                <div class="cut cut-short"></div>
                <label for="nif" class="placeholder">NIF</label>
            </div> 
            <div class="input-container">
                <input id="password" class="input" type="password" placeholder=" " />
                <div class="cut cut-long"></div>
                <label for="password" class="placeholder">Constraseña</label>
            </div>           
            <button id="submit_login" ng-click="login()" class="button_principal max_width" type="button">Iniciar Sesión</button>
            <p class="form_tiene">Vuelve al inicio  <strong><a href="./index.html" class="form_link">click aqui</a></strong></p>
        </div>
    </form>

</body>
</html>