<!DOCTYPE html>
<html lang="en" ng-app='App'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/css_web.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://kit.fontawesome.com/422b82f355.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
    <title>simulador</title>
</head>
<body ng-controller="Controler">

    <nav>
        <div class="logo"><img src="/banca/giphy.gif" alt=""></div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn"><i class="fas fa-bars"></i></label>
        <ul>
           <li><a href="/banca/">Inicio</a></li>
           <li><a href="#">Sobre nosotros</a></li>
           <li><a class="active" href="./simulador.html">Simulador</a></li>
           <li><a href="../web/login.html">Login</a></li>
           <li><a href="../aplication/admin.html">Admin</a></li>
        </ul>
     </nav>

    <form class="form">
        <div class="form_contenedor">

            <select id="tipoPrestamo">
                <option value="frances">Frances</option>
                <option value="lineal">Lineal</option>
                <option value="simple">Simple</option>
                <option value="americano">Americano</option>
            </select>
            <label>porcentaje Interes</label>
            <input id="porcentajeInteres" type="number">

            <label>duracion</label>
            <input id="duracion" type="number">

            <label>duracion</label>
            <input id="duracion" type="number">

            <label>total Prestado</label>
            <input id="totalPrestado" type="number">
            <button ng-click="calcularPrestamo()">calcular prestamo</button>

            <table>
                <tr>
                    <th>cuota</th>
                    <th>cuota</th>
                    <th>cuota</th>
                </tr>
            </table>
        </div>
    </form>

    <footer>
        <hr>
        <div class="row">
      
            <div class="col">
                <img src="/banca/giphy.gif" alt="">
                <p>4RBIKES proiektua, beste hainbat proiektu bezala, gau ilun batian tximista bakar
                batek sortzen duen argitasun zuntz batetik sortutako idea da. Zergatik ez imajinatu
                beste mobilitate eredu bat ? askoz ere jasangarriagoa, inklusiboa, osasuntsuagoa eta
                natura berarekin integratzaileagoa.</p>
            </div>

            <div class="col">
                <h3>Bulegoa <div class="linea"><span></span></div></h3>
                <p>20600 Eibar, Gipuzkoa</p>
                <p>Telefono finko: 943 92 63 89</p>
                <p>+34 645 42 53 65</p>
                <p class="email_id">4rbikes@gmail.com</p>
            </div>

            <div class="col">
                <h3>Besteak <div class="linea"><span></span></div></h3>
                <ul>
                    <li><a href="../about/about.php">Guri buruz</a></li>
                    <li><a href="../soporte/soporte.php">Laguntza teknikoa</a></li>
                    <li><a href="../tienda/adaptacion.php">Adaptazioak</a></li>
                    <li><a href="../tienda/reciclaje.php">Birziklapena</a></li>
                    <li><a href="../tienda/motor.php">Motore Elektrikoak</a></li>
                </ul>
            </div>

            <div class="col">
                <h3>Korreoa<div class="linea"><span></span></div></h3>

                <form action="">
                    <i class="far fa-envelope"></i>
                    <input type="text" name="" id="" required>
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>

                <div class="social_icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-pinterest"></i>
                </div>
            </div>

        </div>
        <hr>
    </footer>

</body>
</html>