<!DOCTYPE html>
<html lang="en" ng-app='App'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://kit.fontawesome.com/422b82f355.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
    <title>Admins</title>
</head>
<body class="fond_form" ng-controller="Controler">

    <!--- nav bar -->
    <div class="sidemenu menu_collapsed">
        <div class="header"> 
            <div class="menu_btn">
                <div class="btn_hamburger"></div>
                <div class="btn_hamburger"></div>
                <div class="btn_hamburger"></div>
            </div>
        </div>

        <div class="profile">
            <div class="photo"><img src="../../prueba_log.jpg" alt=""></div>
            <div class="name"><span>nombre del usuario</span></div>
        </div>

        <div class="menu_items">
            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../../prueba_log.jpg" alt="algo"></div>
                    <div class="title"><span>Admin</span></div>
                </a>
            </div>

            <div class="item item_separator"></div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../../prueba_log.jpg" alt="algo"></div>
                    <div class="title"><span>Finanzas</span></div>
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../../prueba_log.jpg" alt="algo"></div>
                    <div class="title"><span>Cuentas</span></div>
                </a>
            </div>

            <div class="item item_separator"></div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../../prueba_log.jpg" alt="algo"></div>
                    <div class="title"><span>Movimientos</span></div>
                </a>
            </div>

        </div>
    </div>

    <div class="body_collapse">
        <input type="text" name="" id="">
        <button class="button_filter">Admins</button>
        <button>Usuarios</button>
        <button>Baneados</button>
        <button><i class="fa-solid fa-plus"></i></button>
    <!--- cartas  -->
        <div class="container_card">
            <div class="card">
                <div class="additional">

                    <div class="user-card">
                        <div class="level center">49512345A</div>
                        <img src="../../prueba_log.jpg" alt="asd">
                        <button class="button_secondary update_button" value=""><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="button_secondary delete_button" value=""><i class="fa-solid fa-trash"></i></button>
                        <button class="button_secondary ban_button" value=""><i class="fa-solid fa-ban"></i></button>
                        <button style="display: none;" class="button_secondary desban_button" value=""><i class="fa-solid fa-check"></i></button>
                    </div>

                    <div class="more-info">
                        <h1>Cuentas del usuario</h1>
                        <div class="stats"><div>

                        <div class="title">Nº Cuentas</div>
                        <i class="fa-solid fa-vault"></i>
                        <div class="value">2</div>
                    </div>

                    <div>
                        <div class="title">Balance</div>
                        <i class="fa-solid fa-piggy-bank"></i>
                        <div class="value">27 $</div>
                    </div>

                    <div>
                        <div class="title">Movimiento</div>
                        <i class="fa-solid fa-money-bill-transfer"></i>
                        <div class="value">123</div>
                    </div>

                    <div>
                        <div class="title">Ult. movimiento</div>
                        <i class="fa-regular fa-calendar-days"></i>
                        <div class="value">2/4/52</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="general">
            <h1>Nombre del usuario</h1>
            <ul>
                <li>nombre del usuario</li>
                <li>apellido del usuario</li>
                <li>correo del usuario</li>
            </ul>
            <span class="more">pon el curso encima para mas informacion</span>
            </div>  
            </div>
        </div>

    </div>

    <!--- modal  -->
    <label for="modal" class="modal-bg"></label>
    <div class="modal-content">
        <label id="close" for="modal" class="close"><i class="fa fa-times" aria-hidden="true"></i></label>
        <header>
            <h2 class="borrar">Borrar el usuario</h2>
            <h2 class="banear">Banear el usuario</h2>
            <h2 class="desban">desbanear el usuario</h2>
            <h2 class="modify">Modificar el usuario</h2>
        </header>
        <article class="content">
            <p class="borrar">¿Seguro que quieres borrar el usuario?</p>
            <p class="banear">¿Seguro que quieres banear el usuario?</p>
            <h2 class="desban">¿Seguro que quieres desbanear el usuario?</h2>
            <input class="modify" type="text" placeholder="nombre">
            <input class="modify" type="password" placeholder="password">
            <input class="modify" type="text" placeholder="nombre">
            <input class="modify" type="text" placeholder="nombre">   
            <input class="modify" type="file" placeholder="nombre">   
        </article>
        <footer>
            <label id="borrar" for="modal" class="button success borrar">Borrar</label>
            <label id="banear" for="modal" class="button success banear">Banear</label>
            <label id="desban" for="modal" class="button success desban">Desbanear</label>
            <label id="modify" for="modal" class="button success modify">Modificar</label>
            <label id="decline" for="modal" class="button danger">Cancelar</label>
        </footer>
    </div>
    

    <script src="./admin.js"></script>
    <script src="./modal.js"></script>
</body>
</html>