// imports Globals //
@import 
    '../global/variables_global'
;

// imports Web //
@import 
    './navbar_web',
    './buttons_principal',
    './_buttons_login',
    './form_login',
    './footer_web',
    './begin',
    './simulador'
;

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    text-decoration: none;
}