.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
	visibility: hidden;
}

.modal-content {
	position: fixed;
	top: 60%;
	left: 45%;
	width: 60%;
	height: auto;
	margin-top: -18%;
	margin-left: -25%;
	padding: 30px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 50px rgba(black,0.5);

	visibility: hidden;
	z-index: 20;

	.close {
		position: relative;
		float: right;
		font-size: 18px;
		z-index: 11;

		&:hover {
			color: $color-2;
			transform: rotate(540deg);
		}
	}

	header {
		position: relative;
		display: block;
		border-bottom: 1px solid #eee;
		//background-color: gray;

		h2 {
			margin: 0 0 10px;
			padding: 0;
			font-size: 28px;
		}
	}

	article {
		position: relative;
		display: block;
		margin: auto;
		padding: 0;
		font-size: 16px;
		line-height: 1.75;
		display: flex;
		flex-direction: column;
		justify-content: center;

		input {
			width: 80%;
			margin: auto;
			margin-top: 15px;
			align-content: center;
			font-size: large;
		}

		textarea {
			width: 80%;
			margin: auto;
			margin-top: 15px;
			align-content: center;
			font-size: large;
		}

	}

	footer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		

		
		}
		.button {
			position: relative;
			padding: 10px 30px;
			border-radius: 3px;
			font-size: 14px;
			font-weight: 400;
			color: white;
			text-transform: uppercase;
			overflow: hidden;
			
			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				background-color: rgba(white,0.2);
				transition: width 250ms ease;
				z-index: 0;
			}
			
			&:hover {
				
				&:before {
					width: 100%;
				}
			}

			&.success {
				margin-right: 5px;
				background-color: $color-3;
			}

			&.danger {
				background-color: $color-4;
			}
	}
}

.borrar {
	display: none;
}

.modify {
	display: none;
}

.banear {
	display: none;
}

.desban {
	display: none;
}

.add_user {
	display: none;
}

.account {
	display: none;
}

.insert_account {
	display: none;
}

.correo {
	display: none;
}

.operation_ingresar {
	display: none;
}

.operation_retirar {
	display: none;
	
}

.operation_transferir {
	display: none;
	
}

.IBAN_operation {
	justify-content: center;
	margin: auto;
}

#form_operationBank {
	width: 100%;
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	margin: auto;
	margin-top: 2em;

	input {
		display: flex;
		flex-direction: column;
		margin: auto;
		justify-content: center;
		margin-top: 5px;
		padding-left: 5px;
		font-size: 20px;

		&:focus{
			background-color: rgb(221, 221, 221);
		}
	}

	textarea {
		display: flex;
		flex-direction: column;
		margin: auto;
		justify-content: center;
		margin-top: 5px;
		padding-left: 5px;
		font-size: 20px;

		&:focus{
			background-color: rgb(221, 221, 221);
		}
		
	}

	select {
		border-radius: 5px;
		font-size: 25px;
		padding-left: 5px;
		margin: auto;
		margin-top: 5px;
		display: block;
		justify-content: center;
	}


}

.container_modal_button_operation {
	margin-top: 4em;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
}

@media (max-width: 1080px) {
	.modal-content {
		left: 10%;
		right: 5%;
		width: 80%;
		top: 20%;
		margin-left: 0%;
	}

	#form_operationBank {
		grid-template-columns: 1fr;
	}

}

@media (max-width: 660px) {

	.modal-content {
		width: 100%;
		top: 10%;
		left: 0;
		margin-top: 0;
		padding: 5px;


		header {
			margin: 15px;
		}

		i {
			margin: 20px;
		}
		
	}
}

@media (max-width: 450px) {

	.modal-content {
		top: 30%;		
	}
}

