$color_principal: #ffffff;
$color_segundario : wheat;
$color_terciario : white;

$color_negro : rgb(0, 0, 0);
$color_negro2 : #2c2c2c;
$color_gris: gray;
$color_soporte: #252222;
//$color_a : rgb(226, 219, 219);
$color_a : #1b1b1b;;
$color_hover : rgb(136, 136, 136);

$sombras : rgb(126, 126, 126);
$text_shadow: 2px 2px 2px $sombras;
$box_shadow : 0.05rem 0.3rem 0.3rem -0.03rem $color_negro;

$border_gris :1px solid black;
$border_negro : 2px solid #000000;
$border_verde: 2px solid $color_principal;

$transition_medium: all 2s;


$base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #3498db;
$color-3: #2ecc71;
$color-4: #e74c3c;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);


// color del nav y footer //
$color_linear :  linear-gradient(to left, #373737, #2e2e2e, #252525, #1c1c1c, #141414);

// colores base de la pagina //

$color_principal: #ffffff;
$color_segundario : wheat;
$color_terciario : white;


$color_negro : rgb(0, 0, 0);
$color_negro2 : #2c2c2c;
$color_gris: gray;
$color_soporte: #252222;

$color_hover : rgb(136, 136, 136);

$sombras : rgb(126, 126, 126);
$text_shadow: 2px 2px 2px $sombras;
$box_shadow : 0.05rem 0.3rem 0.3rem -0.03rem $color_negro;

$border_gris :1px solid $color_gris;
$border_negro : 2px solid #000000;
$border_verde: 2px solid $color_principal;

@mixin transition {
    transition: all .70s ease-in-out;
    -moz-transition: all .70s ease-in-out;
    -webkit-transition: all .70s  ease-in-out;
}

@mixin no_scrollBars {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;    
    }
      
    &::-webkit-scrollbar-track {  
        background: transparent;
    }
      
    &::-webkit-scrollbar-thumb { 
        background: transparent;
        border: none;
    }
    
}

$colores: (
  "green" #16f802,
  "yellow" #e3fc04,
  "a" #adf701,
  "blue" #0d64d6,
  "orange" #ff9100,
  "cya_white" #00ffb3,
  "gray" #cfc7c7,
);

@each $name , $color in $colores {
    .#{$name} {
      color: $color;
    } 
}
