.button_filter {
    margin-left: 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 1px;
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: 0.3s;

    &:hover  {
      color: white;
      background-color: gray;
      border: 3px solid gray;
      transition: 0.3s;
    }

    .fa-solid {
      color: rgb(24, 23, 23);
    }
}

$margenes_filter : 2em;

.container_input_filter {
  position: absolute;
  top: $margenes_filter ;
  left: calc($margenes_filter + $width_navbar_aplication);
  margin: auto;
}

.input_filter {
  background-color: transparent;
  border: 2px solid black;
 
}

.container_button_filter {
  display: flex;
  margin-top: $margenes_filter;
  margin-right: $margenes_filter ;
  justify-content: end;
}

@media (max-width: 1240px) {

  .container_filter {
    display: grid; 
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: 25px;
    overflow-x: scroll;
    @include no_scrollBars;
    align-items: center;
  }
  
  .container_button_filter {
    margin: 15px;
    margin: auto;
  }

  .container_input_filter {
    position:static;
    top: 0;
    left: 0;
    margin: auto;
    margin-top: 2em;
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
  }

}
  

@media (max-width: 1040px) {

  .container_filter {
    margin-top: 25px;
  }
  

  .container_input_filter {
    margin-top: 6em;
  }
}