.button_filter {
    margin-left: 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 1px;
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: 0.3s;

    &:hover  {
      border: 3px solid gray;
      color: white;
      background-color: gray;
      transition: 0.3s;
    }

    .fa-solid {
      color: rgb(24, 23, 23);
    }
}

.button_filter_normal {
    background-color: #1b1b1b;
    border: 3px solid #1b1b1b;
}

.button_filter_especial {
  background-color: rgb(72, 255, 0);
  border: 3px solid rgb(72, 255, 0);
}

.input_filter {
  background-color: transparent;
  border: 2px solid black;
}

.container_filter {
    display: grid; 
    grid-template-columns: 0.5fr 1fr;
    margin: 25px;
  }
  .container_input_filter {
    margin: auto;
    margin-left: 0px;
  }
  
  .container_button_filter {
      display: flex;
      justify-content: end;
  
  }