$margen_card : 1em;
$imagen_user_tamano : 12em;

.admin_card {
  background: linear-gradient(#c9a508, #5a4d04);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(#c9a508, #5a4d04);
  
}

.user_card{
  background: linear-gradient(#0a7513, #2a612a);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(#0a7513, #2a612a);
}

.unban_card{
  background: linear-gradient(#575757, #585757);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(#575757, #585757);
}
  
.container_users {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.container_card_user {
  margin: 15px;
  text-align: center;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  transition: 40ms;
  
  &:hover{
    transition: 40ms;
    border: 5px solid rgb(40, 42, 43);
  
  }
}

.nif_user {
  margin-top: 10px;
  color: #fff;
  font-size: 1.4em;
  font-weight: 1000;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
}

.photo_user {
  display: flex;
  justify-content: center;
  margin-top: $margen_card;
  width: 100%;

  img {
    width: $imagen_user_tamano;
    height: $imagen_user_tamano;
    border-radius: 50%;
  }
}

.information_user {
  margin-top: $margen_card;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  li {
    font-weight: 1000;
    text-align: center;
    font-size: 20px;
    color: rgb(222, 252, 237);
  }
  
}

.more_information_user {
  margin-top: $margen_card;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chart_information {
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
  }

    i {
      width: 28px;
      margin: auto;
      font-size: 25px;
    }

    
    i:hover {
      color: #fcfcfc;
      cursor: pointer;
    }

      .value {
        font-weight: 1000;
        color: #ffd905;
        font-size: 22px;
      }
}

.btn_configuration_user {
  margin-top: $margen_card;
  display: flex;
  justify-content: center;
 

  button {
    background: transparent;
    margin: 14px;
    border: none;
  }

    i {
      font-size: 30px;
    }

      i:hover {
        color: rgb(2, 255, 200);
      }
}

@media (max-width: 1040px) {   
  .container_users {
    justify-content: center;

  }
}



