// imports Globals //
@import 
    '../global/variables_global',
    '../global/modal'
;

// imports Aplication //
@import 
    './navbar_aplication',
    './card_user',
    './button_filters',
    './tarjeta',
    './animation_load',
    './_configuration_user',
    './buttons_secondary_aplication'
;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    text-decoration: none;
}
