.container_graficos {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; 
    border-radius: 10px;
    margin: auto;
}

.circular {
    canvas {
        margin: 20px;
    }
}

.bar {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80%;
    canvas {
        padding: 20px;
        margin: 40px;
  
    }
  
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
}
  