.container_graficos {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;  width: 300px;
    height: 300px;
    display: flex;
    margin: auto ;
    padding: 40px;
    border-radius: 10px;
  }
  