$width_navbar_aplication : 300px;
$width_navbar_collapsed: 58px;

$padding: 10px;

$bg_color : rgba(0, 0, 0, 0.836);
$hover_color : rgb(33, 33, 33);

$transition_expanded: 0.2s;

.body_expanded {
    transition: $transition_expanded;
    margin-left: calc($width_navbar_aplication - $width_navbar_collapsed);
}

.body_collapse {
    transition: $transition_expanded;
    margin-left: $width_navbar_collapsed;
}

.sidemenu {
    transition: $transition_expanded;
    background: #201f1f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #201f1f, #1d1d1d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181717, #1a1919); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    overflow: scroll;

    @include no_scrollBars;
}

.i {
    font-size: 34px;
}

/* header */
.header {
    box-sizing: border-box;
    border-bottom: solid 3px $hover_color;
}

.title_nav {
    overflow: hidden;
}

.menu_btn {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width: $width_navbar_collapsed;
    box-sizing: border-box;

    &:hover {
        background-color: $hover_color;
    }

}

.btn_hamburger {
    background-color: aliceblue;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

.profile {
    border-bottom: solid 3px $hover_color;
    padding: $padding;
    text-align: center;
}

.photo {
    img {
        border-radius: 50%;
        box-shadow: 0 0 10px rgb(15, 15, 15);

    }
}

.menu_expanded .photo img {
    margin-left: 18px;
    width: 10em;
    height: 10em;
}

.menu_collapsed .photo img {
    width: 2.5em;
    height: 2.5em;
}

.name {
    font-size: 24px;
    padding: $padding;
    overflow: hidden;
}

.menu_items {
    overflow: hidden;
}

.item {
    width: $width_navbar_aplication;

    a {
        display: block;
    }

        a:hover {
            background-color: $hover_color;
        }

        a:hover .i {
            color: rgb(146, 143, 143);
        }   
}

.icon {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    padding: $padding;
    width: $width_navbar_collapsed;
}

.title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    padding: $padding;

    span {
        color: rgb(255, 255, 255);
    }
}

.item_separator {
    border-bottom: solid 3px $hover_color;

}

.menu_expanded {
    transition: $transition_expanded;
    width: $width_navbar_aplication;
    box-shadow: 0 0 10px rgb(12, 12, 12);

    .photo {
        margin-left: 10%;
    }
}

.menu_expanded .title_nav {
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: 5px;
    padding: $padding;
    
    span {
        width: calc($width_navbar_aplication - $width_navbar_collapsed - 5px);
        overflow: hidden;
        display: inline-block;
    }
}

.menu_expanded .photo {
    width: 200px;
}

.menu_expanded .name {
    width: 100%;
}

.menu_collapsed {
    transition: $transition_expanded;
    width: $width_navbar_collapsed;

    .title_nav {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .name {
        display: none;
    }

    .title {
        display: none;
    }

    .item {
        width: 100px;
    }
}

.logout_raya {
    position: absolute;
    bottom: 3em;
}

.logout {
    position: absolute;
    bottom: 0;
}

.active {
    color: gray;
}

// ----------------  Navbar Phone ---------------- //
.navbar_phone {
    display: none;
    background: #201f1f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #201f1f, #1d1d1d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181717, #1a1919); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    overflow-x: scroll;
    @include no_scrollBars;

    img {
        display: flex;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: auto;
    }
}

.navbar_top {
    top: 0;
}

.navbar_bottom {
    bottom: 0;
}

.container_navbar_phone {
    display: flex;
    justify-content: center;
    height: 100%;

    a {

        width: 60px;
        height: 100%;
        margin: 15px;
    }

    i {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .navbar_phone {
        display: block;
        position: fixed;
    }
    .body_expanded {
        display: none;
        margin: 0;
    }
    
    .body_collapse {
        display: none;
        margin: 0;
    }
    
    .sidemenu {
        display: none;
    }

    .body_phone {
        margin-top: 80px;
        margin-bottom: 80px;
        display: block;
    }

}

