// Table // 
.table_move {
    overflow-x: scroll;
  
    &::-webkit-scrollbar {
      width: 0;    
    }
  
      &::-webkit-scrollbar-track {  
        background: transparent;
      }
  
        &::-webkit-scrollbar-thumb { 
          background: transparent;
          border: none;
        }
      
  }
  
  .table_move {
      border-collapse: collapse;
      border: 3px solid  #2b2c30;
      width: 100%;
      margin: auto;
      margin-top: 20px;
  
      td, th {
        border: 1px solid rgb(0, 0, 0);
        padding: 8px;
      }
  
        tr:nth-child(even) {
          background:#c7c7c7;
        }
  
        tr:hover {
          background-color: rgb(73, 73, 73);
        }
  
          th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background:#24252A;
            color: white;
            text-align: center;
          }
  }