<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing in</title>

    <link href="../../styles/css.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</head>
<body>

    <form class="form">
        <h2 class="form_titulo">Crear Cuenta</h2>
        <p class="form_tiene">¿Tienes Cuenta? <a href="./IniciarSeccion.html" class="form_link">Entra aqui</a></p>

        <div class="form_contenedor">

            <div class="input-container">
                <input type="text">
                <label for="name">name</label>
            </div>

            <div class="input-container">
                <input type="text">
                <label for="name">name</label>
            </div>

            <div class="input-container">
                <input type="text">
                <label for="name">name</label>
            </div>

            <div class="input-container">
                <input type="text">
                <label for="name">name</label>
            </div>


            <input type="button" id="enviar" class="form_submit" value="enviar">
            <input type="reset" class="form_submit" value="resetear">

        </div>
    </form>

</body>

<script>

    $('#enviar').click(function() {

        // funcion que retorna la sentencia data de ajax //
        function ob(valor) {
           return "&"+valor+"="+document.getElementById(valor).value;
        }

         var ruta = ob('nombre')+ob('apellido')+ob('usuario')+ob('email')+ob('constraseña')+ob('telefono');
      
        $.ajax({
            url: 'Formulario.php',
            type: 'POST',
            data: ruta,
        })
            .done(function(res){
                console.log("enviado");
            })
            .fail(function() {
                console.log("error");
            })

            .always(function(){
                console.log("procesando");
            });
        });

</script>

</html>