<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing in</title>

    <link href="../../styles/css.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</head>
<body>

    <form class="form">

        <h2 class="form_titulo">Crear Cuenta</h2>
        <p class="form_tiene">¿Tienes Cuenta? <a href="./IniciarSeccion.html" class="form_link">Entra aqui</a></p>

        <div class="form_contenedor">

            <div class="form_grupo">
                <input type="text" name="nombre" id="nombre" class="form_input" placeholder="Nombre" required = ""  maxlength="10" minlength="1">
                <label for="name" class="form_label"></label>
                <span class="form_line"></span>
            </div>

            <div class="form_grupo">
                <input type="text" name="apellido" id="apellido" class="form_input" placeholder="apellido" required = ""  maxlength="10" minlength="1">
                <label for="apellido" class="form_label"></label>
                <span class="form_line"></span>
            </div>

            <div class="form_grupo">
                <input type="text" name="usuario" id="usuario" class="form_input" placeholder="usuario" required ="" maxlength="10" minlength="1">
                <label for="user" class="form_label"></label>
                <span class="form_line"></span>
            </div>

            <div class="form__group field">
                <input type="email" name="email" id="email" class="form__field" placeholder="email" required = "">
                <label for="correo" class="form__label"></label>
                <span class="form_line"></span>
            </div>

            <div class="form_grupo">
                <input type="password" name="contraseña" id="constraseña" class="form_input" placeholder="Constraseña" required =""  maxlength="10" minlength="1">
                <label for="password" class="form_label"></label>
                <span class="form_line"></span>
            </div>

            <div class="form_grupo">
              <input type="number" name="telefono" id="telefono" class="form_input" placeholder="telefono">
              <label for="number" class="form_label"></label>
              <span class="form_line"></span>
          </div>


            <input type="button" id="enviar" class="form_submit" value="enviar">
            <input type="reset" class="form_submit" value="resetear">

        </div>
    </form>

</body>

<script>

    $('#enviar').click(function() {

        // funcion que retorna la sentencia data de ajax //
        function ob(valor) {
           return "&"+valor+"="+document.getElementById(valor).value;
        }

         var ruta = ob('nombre')+ob('apellido')+ob('usuario')+ob('email')+ob('constraseña')+ob('telefono');
      
        $.ajax({
            url: 'Formulario.php',
            type: 'POST',
            data: ruta,
        })
            .done(function(res){
                console.log("enviado");
            })
            .fail(function() {
                console.log("error");
            })

            .always(function(){
                console.log("procesando");
            });
        });

</script>

</html>