.fond_form {
  background: #ADA996; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #b9b8b7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
  background-color: #fffefe;
  margin: auto;
  width: 100%;
  height: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 120px;
  margin-bottom: 200px;
}

.form_tiene {
  font-weight: 300;
}

a {
  font-weight: 300;
  color: rgb(3, 179, 248);
  display: inline-block;
  margin: 0;
}
a:after {
  display: block;
  content: "";
  border-bottom: solid 3px rgb(226, 219, 219);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a.form_link:after {
  transform-origin: 0% 50%;
}

a.form_link:hover:after {
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

.form_contenedor {
  margin-top: 0.5em;
  display: grid;
  gap: 2.5em;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.input {
  border-radius: 12px;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background: rgb(255, 255, 255);
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 80px;
}

.cut-short {
  width: 20%;
}

.cut-long {
  width: 30%;
}

.input:focus ~ .cut, .input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: black;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder, .input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: black;
}

.input:focus ~ .placeholder {
  color: black;
}

.button_principal {
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: white;
  border: 2px solid rgb(226, 219, 219);
  box-shadow: 5px 5px 0 rgb(226, 219, 219), -5px -5px 0 rgb(226, 219, 219), -5px 5px 0 rgb(226, 219, 219), 5px -5px 0 rgb(226, 219, 219);
  transition: 500ms ease-in-out;
}

.button_principal:hover {
  box-shadow: 20px 5px 0 rgb(226, 219, 219), -20px -5px 0 rgb(226, 219, 219);
}

.button_principal:focus {
  outline: none;
}

.container_card {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#919191, #7f7f7f);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.user-card img {
  display: inline-block;
  margin-left: 20%;
  margin-top: 20%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgb(0, 0, 0);
}

.card .additional .user-card .level {
  margin-top: 10px;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card .additional .stats {
  font-size: 3rem;
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 15px;
  color: #fff;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  margin: auto;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}
.card .general ul {
  margin-top: 40px;
  margin-left: 5px;
}
.card .general li {
  color: black;
  text-align: start;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  list-style: none;
  text-decoration: none;
}

.button_secondary {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  margin-left: 10%;
}
.button_secondary i {
  font-size: 30px;
}
.button_secondary i:hover {
  color: aqua;
}

.fa-check {
  color: rgb(21, 255, 0);
}

.fa-ban {
  color: red;
}

.fa-pen-to-square {
  color: rgb(244, 145, 17);
}

.modal-btn {
  position: relative;
  display: table-cell;
  width: 100px;
  height: 100px;
  background-color: #2c3e50;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 36px;
  color: white;
  text-align: center;
  line-height: 2.75;
  transition: box-shadow 250ms ease;
}
.modal-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: background-color 250ms linear;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  margin-top: -18%;
  margin-left: -25%;
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 250ms ease;
  visibility: hidden;
  z-index: 20;
}
.modal-content .close {
  position: relative;
  float: right;
  font-size: 18px;
  transition: transform 500ms ease;
  z-index: 11;
}
.modal-content .close:hover {
  color: #3498db;
  transform: rotate(540deg);
}
.modal-content header {
  position: relative;
  display: block;
  border-bottom: 1px solid #eee;
}
.modal-content header h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 28px;
}
.modal-content article {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
}
.modal-content footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
}
.modal-content footer .button {
  position: relative;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}
.modal-content footer .button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 250ms ease;
  z-index: 0;
}
.modal-content footer .button:hover:before {
  width: 100%;
}
.modal-content footer .button.success {
  margin-right: 5px;
  background-color: #2ecc71;
}
.modal-content footer .button.danger {
  background-color: #e74c3c;
}

.borrar {
  display: none;
}

.modify {
  display: none;
}

.banear {
  display: none;
}

/*# sourceMappingURL=css.css.map */
