.green {
  color: #16f802;
}

.yellow {
  color: #e3fc04;
}

.a {
  color: #adf701;
}

.blue {
  color: #0d64d6;
}

.orange {
  color: #ff9100;
}

.cya_white {
  color: #00ffb3;
}

.gray {
  color: #cfc7c7;
}

.gold {
  color: gold;
}

.boton_green {
  background-color: #16f802;
  border: 3px solid #16f802;
}

.boton_yellow {
  background-color: #e3fc04;
  border: 3px solid #e3fc04;
}

.boton_a {
  background-color: #adf701;
  border: 3px solid #adf701;
}

.boton_blue {
  background-color: #0d64d6;
  border: 3px solid #0d64d6;
}

.boton_orange {
  background-color: #ff9100;
  border: 3px solid #ff9100;
}

.boton_cya_white {
  background-color: #00ffb3;
  border: 3px solid #00ffb3;
}

.boton_gray {
  background-color: #cfc7c7;
  border: 3px solid #cfc7c7;
}

.boton_gold {
  background-color: gold;
  border: 3px solid gold;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
}

.modal-content {
  position: fixed;
  top: 60%;
  left: 45%;
  width: 60%;
  height: auto;
  margin-top: -18%;
  margin-left: -25%;
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 20;
}
.modal-content .close {
  position: relative;
  float: right;
  font-size: 18px;
  z-index: 11;
}
.modal-content .close:hover {
  color: #3498db;
  transform: rotate(540deg);
}
.modal-content header {
  position: relative;
  display: block;
  border-bottom: 1px solid #eee;
}
.modal-content header h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 28px;
}
.modal-content article {
  position: relative;
  display: block;
  margin: auto;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-content article input {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  align-content: center;
  font-size: large;
}
.modal-content article textarea {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  align-content: center;
  font-size: large;
}
.modal-content footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.modal-content footer .button {
  position: relative;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}
.modal-content footer .button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 250ms ease;
  z-index: 0;
}
.modal-content footer .button:hover:before {
  width: 100%;
}
.modal-content footer .button.success {
  margin-right: 5px;
  background-color: #2ecc71;
}
.modal-content footer .button.danger {
  background-color: #e74c3c;
}

.borrar {
  display: none;
}

.modify {
  display: none;
}

.banear {
  display: none;
}

.desban {
  display: none;
}

.add_user {
  display: none;
}

.account {
  display: none;
}

.insert_account {
  display: none;
}

.correo {
  display: none;
}

@media (max-width: 1080px) {
  .modal-content {
    left: 10%;
    right: 5%;
    width: 80%;
    top: 20%;
    margin-left: 0%;
  }
}
@media (max-width: 660px) {
  .modal-content {
    width: 100%;
    top: 10%;
    left: 0;
    margin-top: 0;
    padding: 5px;
  }
  .modal-content header {
    margin: 15px;
  }
  .modal-content i {
    margin: 20px;
  }
}
@media (max-width: 450px) {
  .modal-content {
    top: 30%;
  }
}
.body_expanded {
  transition: 0.2s;
  margin-left: 242px;
}

.body_collapse {
  transition: 0.2s;
  margin-left: 58px;
}

.sidemenu {
  transition: 0.2s;
  background-image: url("../img/aplication/fondo5.gif");
  background-size: cover;
  background-position: bottom 50px right 20px;
  color: white;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
}
.sidemenu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sidemenu::-webkit-scrollbar-track {
  background: transparent;
}
.sidemenu::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.i {
  color: white;
  font-size: 34px;
}

/* header */
.header {
  box-sizing: border-box;
  border-bottom: solid 3px rgb(33, 33, 33);
}

.title_nav {
  overflow: hidden;
}

.menu_btn {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 58px;
  box-sizing: border-box;
}
.menu_btn:hover {
  background-color: rgb(33, 33, 33);
}

.btn_hamburger {
  background-color: aliceblue;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

.profile {
  border-bottom: solid 3px rgb(33, 33, 33);
  padding: 10px;
  text-align: center;
}

.photo img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(15, 15, 15);
}

.menu_expanded .photo img {
  margin-left: 18px;
  width: 10em;
  height: 10em;
}

.menu_collapsed .photo img {
  width: 2.5em;
  height: 2.5em;
}

.name {
  font-size: 24px;
  padding: 10px;
  overflow: hidden;
}

.menu_items {
  overflow: hidden;
}

.item {
  width: 300px;
}
.item a {
  display: block;
}
.item a:hover {
  background-color: rgb(33, 33, 33);
}
.item a:hover .i {
  color: aqua;
}

.icon {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  width: 58px;
}

.title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
}
.title span {
  color: rgb(255, 255, 255);
}

.item_separator {
  border-bottom: solid 3px rgb(33, 33, 33);
}

.menu_expanded {
  transition: 0.2s;
  width: 300px;
  box-shadow: 0 0 10px rgb(12, 12, 12);
}
.menu_expanded .photo {
  margin-left: 10%;
}

.menu_expanded .title_nav {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: 5px;
  padding: 10px;
}
.menu_expanded .title_nav span {
  width: 237px;
  overflow: hidden;
  display: inline-block;
}

.menu_expanded .photo {
  width: 200px;
}

.menu_expanded .name {
  width: 100%;
}

.menu_collapsed {
  transition: 0.2s;
  width: 58px;
}
.menu_collapsed .title_nav {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.menu_collapsed .name {
  display: none;
}
.menu_collapsed .title {
  display: none;
}
.menu_collapsed .item {
  width: 100px;
}

.active {
  color: aqua;
}

.navbar_phone {
  display: none;
  background-color: black;
  width: 100%;
  overflow-x: scroll;
}
.navbar_phone::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navbar_phone::-webkit-scrollbar-track {
  background: transparent;
}
.navbar_phone::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
.navbar_phone img {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
}

.navbar_top {
  top: 0;
}

.navbar_bottom {
  bottom: 0;
}

.container_navbar_phone {
  display: flex;
  justify-content: center;
  height: 100%;
}
.container_navbar_phone a {
  width: 60px;
  height: 100%;
  margin: 15px;
}
.container_navbar_phone i {
  text-align: center;
  width: 100%;
}

@media (max-width: 1040px) {
  .navbar_phone {
    display: block;
    position: fixed;
  }
  .body_expanded {
    display: none;
    margin: 0;
  }
  .body_collapse {
    display: none;
    margin: 0;
  }
  .sidemenu {
    display: none;
  }
  .body_phone {
    margin-top: 80px;
    margin-bottom: 80px;
    display: block;
  }
}
.admin_card {
  background: linear-gradient(#c9a508, #5a4d04);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(#c9a508, #5a4d04);
}

.user_card {
  background: linear-gradient(#0a7513, #2a612a);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(#0a7513, #2a612a);
}

.unban_card {
  background: linear-gradient(#575757, #585757);
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(#575757, #585757);
}

.container_users {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.container_card_user {
  margin: 15px;
  text-align: center;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  transition: 40ms;
}
.container_card_user:hover {
  transition: 40ms;
  border: 5px solid rgb(40, 42, 43);
}

.nif_user {
  margin-top: 10px;
  color: #fff;
  font-size: 1.4em;
  font-weight: 1000;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
}

.photo_user {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
}
.photo_user img {
  width: 12em;
  height: 12em;
  border-radius: 50%;
}

.information_user {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.information_user li {
  font-weight: 1000;
  text-align: center;
  font-size: 20px;
  color: rgb(222, 252, 237);
}

.more_information_user {
  margin-top: 1em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chart_information {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.chart_information .title {
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
}
.chart_information i {
  width: 28px;
  margin: auto;
  font-size: 25px;
}
.chart_information i:hover {
  color: #fcfcfc;
  cursor: pointer;
}
.chart_information .value {
  font-weight: 1000;
  color: #ffd905;
  font-size: 22px;
}

.btn_configuration_user {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.btn_configuration_user button {
  background: transparent;
  margin: 14px;
  border: none;
}
.btn_configuration_user i {
  font-size: 30px;
}
.btn_configuration_user i:hover {
  color: rgb(2, 255, 200);
}

@media (max-width: 1040px) {
  .container_users {
    justify-content: center;
  }
}
.button_filter {
  margin-left: 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 1px;
  padding: 10px 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
.button_filter:hover {
  color: white;
  background-color: gray;
  border: 3px solid gray;
  transition: 0.3s;
}
.button_filter .fa-solid {
  color: rgb(24, 23, 23);
}

.container_input_filter {
  position: absolute;
  top: 2em;
  left: calc(2em + 300px);
  margin: auto;
}

.input_filter {
  background-color: transparent;
  border: 2px solid black;
}

.container_button_filter {
  display: flex;
  margin-top: 2em;
  margin-right: 2em;
  justify-content: end;
}

@media (max-width: 1240px) {
  .container_filter {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: 25px;
    overflow-x: scroll;
    align-items: center;
  }
  .container_filter::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .container_filter::-webkit-scrollbar-track {
    background: transparent;
  }
  .container_filter::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  .container_button_filter {
    margin: 15px;
    margin: auto;
  }
  .container_input_filter {
    position: static;
    top: 0;
    left: 0;
    margin: auto;
    margin-top: 2em;
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 1040px) {
  .container_filter {
    margin-top: 25px;
  }
  .container_input_filter {
    margin-top: 6em;
  }
}
.modal_content {
  max-height: 60vh;
  overflow-y: scroll;
}

.container_tarjet {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.tarjet {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  width: 30em;
  height: 17em;
  border-radius: 10px;
  margin: 15px;
}
.tarjet img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.tarjet .img_fondo img {
  position: absolute;
  right: 1em;
  bottom: 3em;
  width: 10em;
  background: transparent;
  opacity: 0.1;
}
.tarjet .img_chip img {
  position: relative;
  top: 6.5em;
  width: 40px;
  height: 40px;
  left: 20px;
}
.tarjet .tarjet_company {
  position: absolute;
  font-size: 30px;
  font-weight: 1000;
}
.tarjet .title_company {
  font-family: Georgia, serif;
  color: gold;
  left: 20px;
  top: 15px;
}
.tarjet p {
  position: absolute;
  font-weight: 500;
  top: 20px;
  right: 20px;
  color: gold;
}
.tarjet .number {
  position: absolute;
  top: calc(15em - 80%);
  left: 20px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.tarjet .value {
  position: absolute;
  bottom: 15px;
  font-size: 30px;
  font-weight: 1000;
  left: 20px;
  color: gold;
}
.tarjet .title_tip {
  font-family: Noto Sans, sans-serif;
  color: gold;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

@media (max-width: 440px) {
  .tarjet {
    width: 27em;
    height: 13.5em;
  }
  .tarjet .img_chip img {
    position: relative;
    top: 5.5em;
  }
  .tarjet .number {
    top: calc(15em - 80% + 2em);
    font-size: 18px;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fafafa;
}

.hidden {
  visibility: hidden;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -36px 0 0 -36px;
  height: 72px;
  width: 72px;
  border: 8px dotted #252525;
  border-radius: 100%;
  animation: loading 2s infinite linear;
}

.button_secondary {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  margin-left: 10%;
}
.button_secondary i {
  font-size: 30px;
}
.button_secondary i:hover {
  color: aqua;
}

.fa-check {
  color: rgb(21, 255, 0);
}

.fa-ban {
  color: red;
}

.fa-pen-to-square {
  color: rgb(244, 145, 17);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  list-style: none;
  text-decoration: none;
}

/*# sourceMappingURL=css_aplication.css.map */
