<!DOCTYPE html>
<html lang="en" ng-app='App'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../img/global/logos/logo.gif">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://kit.fontawesome.com/422b82f355.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../styles/css_aplication.css">
    <script src="../../js/app/aplication/app_finanzas.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Admins</title>
</head>
<body ng-controller="Controler" ng-init="init()" ng-Class="{'ng-scope': menu_status != 'sidemenu menu_expanded', 'ng-scope body_expanded body_phone' : menu_status != 'sidemenu menu_collapsed' }" class="hidden">

    <div class="loading"></div>

    <!--- nav bar PC  -->
    <div ng-Class="{'menu_expanded': menu_status != 'sidemenu menu_collapsed' , 'menu_collapsed': menu_status == 'sidemenu menu_collapsed'}" class="sidemenu" >
        <div class="header"> 
            <div class="menu_btn">
                <div class="btn_hamburger"></div>
                <div class="btn_hamburger"></div>
                <div class="btn_hamburger"></div>
            </div>
        </div>
        <div class="profile">
            <div class="photo"><a href="./configuration.html"><img src={{user_logged.foto}} alt="Icono_user"></a></div>
            <div class="name"><span>{{user_logged.name}}</span></div>
        </div>
        <div class="menu_items">
            <div ng-show="user_logged.admin == 1">
                <div class="item">
                    <a href="./admin.html">
                        <div class="icon cya_white"><i class="i fa-solid fa-lock "></i></div>
                        <div class="title"><span>Admin</span></div>
                    </a>
                </div>
                <div class="item item_separator"></div>
            </div>
            <div class="item">
                <a href="./finanzas.html">
                    <div class="icon active"><i class="i fa-solid fa-coins color_green"></i></div>
                    <div class="title"><span>Finanzas</span></div>
                </a>
            </div>
            <div class="item">
                <a href="./movimientos.html">
                    <div class="icon green"><i class="i fa-sharp fa-solid fa-money-check-dollar"></i></div>
                    <div class="title"><span>Movimientos</span></div>
                </a>
            </div>
            <div class="item item_separator logout_raya"></div>
                <div class="item logout ">    
                    <a ng-click="logout()" href="#">
                        <div class="icon red"><i class="i fa-solid fa-right-from-bracket"></i></div>
                        <div class="title"><span>Cerrar Seccion</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--- nav bar Phone top -->
    <div class="navbar_phone navbar_top">
        <div class="container_navbar_phone">
            <a href="./configuration.html"><img src={{user_logged.foto}} alt="Icono_user"></a>
            <a href="./admin.html"><i class="i fa-solid fa-lock cya_white"></i></a>
            <a ng-click="logout()" href=""><i class="i fa-solid fa-right-from-bracket red"></i></a>
        </div>   
    </div>

    <!--- nav bar Phone bottom -->
    <div class="navbar_phone navbar_bottom">
        <div class="container_navbar_phone">
            <a href="./movimientos.html"><i class="i fa-sharp fa-solid fa-money-check-dollar green"></i></a>
            <a href="./finanzas.html"><i class="i fa-solid fa-coins active"></i></a>
        </div>
    </div>

    <!--- Container of aplication -->
    <div class="body_collapse body_phone">

        <!--- header aplication -->
        <div class="container">
            <!--- tarjet -->
            <div class="tarjet">
                <h3 class="tarjet_company title_company">Knight Bank</h3>
                <p>debito</p>
                <div class="img_chip">
                    <img src="../../img/aplication/scan.png" alt="">
                    <img src="../../img/aplication/chip.png" alt="">
                </div>
                <div class="img_fondo">
                    <img src="../../img/global/logos/logo.gif" alt="">
                </div>
                <h4 class="number">{{account_array_now.IBAN}}</h4>
                <h3 class="value" >{{account_array_now.balance}} $</h3>
                <h3 class="tarjet_company title_tip">Visa</h3>
                <!--- operation buttons click() -->
                <div class="container_botones_cuenta">
                    <button ng-click="show_OperationBank('.operation_ingresar',1)">Ingresar</button>
                    <button ng-click="show_OperationBank('.operation_retirar',1)">Retirar</button>
                    <button ng-click="show_OperationBank('.operation_transferir',1)">Transferir</button>
                </div>
                <!--- filter scroll cuenta Repeat() -->
                <div class="container_scroll_cuenta_filter">
                    <button ng-repeat="account in account_array_scroll" ng-click="filter_Financial_data($index)" value={{account.IBAN}}>{{$index+1}}</button>
                </div>
            </div>
             <!--- pie grafic -->
            <div class="container_graficos circular">
                <canvas id="circular_month"></canvas>
            </div>
        </div>
         <!--- bar grafic -->
        <div class="container_graficos bar">
            <canvas id="bar_year"></canvas>
        </div>

           <!--- Modal code -->
        <label ng-modal="id" for="modal" class="modal-bg"></label>
        <div class="modal-content">
            <label ng-click="close()" for="modal" class="close"><i class="fa fa-times" aria-hidden="true"></i></label>
            <header>
                <h2 class="operation_ingresar">Ingresar dinero a la cuenta</h2>
                <h2 class="operation_retirar">Retirar dinero de la cuenta</h2>
                <h2 class="operation_transferir">Transferir dinero a otra cuenta</h2>
            </header>
            <article class="content">
                <form id="form_operationBank" action="">
                    <div class="IBAN_operation">
                        <input id="sender_IBAN" type="text" value={{account_array_now.IBAN}} disabled>
                        <section class="operation_transferir" >
                            <select id="receiver_IBAN">
                                <option ng-repeat="account_all in result_all_iban" value={{account_all.IBAN}}>{{account_all.IBAN}}</option>
                            </select>
                        </section>
                    </div> 
                    <div>
                        <input id="balance_account" type="text" disabled value="{{account_array_now.balance}} €">
                        <input id="amount" type="text" placeholder="Dinero" maxlength="5">
                        <textarea  id="notion" cols="30" rows="10"></textarea>
                    </div>

                    <div class="container_modal_button_operation">
                        <button type="submit" ng-click="do_OperationBank('deposit')" for="modal" class="button success operation_ingresar">Ingresar</button>
                        <button type="submit" ng-click="do_OperationBank('withdrawal')" for="modal" class="button success operation_retirar">Retirar </button>
                        <button type="submit" ng-click="do_OperationBank('transference')" for="modal" class="button success operation_transferir">Transferir</button>
                        <button type="button" ng-click="close()" for="modal" class="button danger">Cancelar</button>
                    </div>
                </form>
                </div>
            </article>
    </div>
</body>
</html>